

h1 {
    color: lightgray;
    font-size: 2em;
}

img {
    width: 600px;
    height: 300px;
    border: solid 3px black;
    }

figure figcaption {
    color: lightgray;
    font-size: 1em;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkslateblue;
}


a:link {
    color: lightgray;
}

a:visited {
    color: grey;
}
a:active {
    color: black;
}

a:hover{
    font-weight: bold;
}



.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}



nav ul {
    list-style: none;
}

nav ul li a {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
    color: lightgray;
}

nav {
    position: sticky;
    background-color: darkslateblue;
    top: 0;
    font-weight: 600;
}


#quote {
    font-size: 1em;
    font-weight: inherit;
}

table {
    color: black;
    background-color: lightgray;
    border-collapse: collapse;
}

tr {
    text-align: center;
}

th, td {
    border: 2px solid black;
    font-size: 1em;
    width: 300px;
    height: auto;
}

table.content {
    table-layout: auto;
    margin: 10px;

}



