@import "style.css";

#quote {
    font-size: 1em;
    font-weight: inherit;
}

.teaser {
    width: 820px;
    height: 500px;
    border: hidden;
    background: url(../media/pictures/Wallpaper.jpg) no-repeat center center;
    background-size: 100%;
}