# Default ignored files
/shelf/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
*/composer.phar
*/composer.lock
*/vendor/
/Assignment_01/
/Assignment_02/
/Assignment_03/
/Assignment_04/
/Assignment_05/
/Assignment_06/
/Assignment_07/src/database/.gitignore