@import "../styles/style.css";

fieldset legend h1 {
    margin: 0;
    color: black;
}

fieldset {
    background-color: lightgrey;
    border:solid black 3px;
    width: 1000px;
    height: auto;
    text-align: justify;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 25px;
}

legend {
    margin-left: auto;
    margin-right: auto;
}
