@import "../styles/style.css";

table {
    color: black;
    background-color: #c1bcc2;
    border-collapse: collapse;
    font-size: 1.4em;
}

table.content {
    table-layout: auto;
    margin: 10px;
}





