* {
    color: lightgrey;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkslateblue;
}


.teaser {
    width: 1920px;
    height: 1080px;
    border: hidden;
    background-size: 100%;
}


.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: left;
    align-items: normal;
}


.right {
    display: flex;
    justify-content: right;
    align-items: normal;
}

nav ul {
    list-style: none;
}

nav ul li a {
    font-size: x-large;
    font-weight: 500;
    margin: 10px;

}

nav {
    position: sticky;
    top: 0;
    font-weight: 600;
    z-index: 99;
}


#quote {
    font-size: x-large;
    font-weight: inherit;
}
