<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bilder</title>
</head>
<body>

    <div>
        <h1>Bilder</h1>
        <img src="../media/pictures/sd4.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd2.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd3.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd5.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd6.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd7.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd8.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd9.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd10.jpg" width="20%" height="20%" alt="Snoop Dogg">
        <img src="../media/pictures/sd11.jpg" width="20%" height="20%" alt="Snoop Dogg">
        

    </div>
<footer>
    <nav>
        <a href="../index.html">Startseite</a> <br>
        <a href="steckbrief.html">Steckbrief</a> <br>
        <a href=biography.html>Biografie</a> <br>
        <a href=music.html>Musik</a> <br>
    </nav>
</footer>

</body>
</html>