<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Snoop Steckbrief</title>
    <link rel="stylesheet" href="../static/styleSteckbrief.css">
</head>
<body>

<header class="middle">
        <h1>Steckbrief</h1>
    </header>

<nav>
    <ul class="middle">
        <li>
            <a href="../index.html">Startseite</a>
        </li>
        <li>
            <a href="music.html">Musik</a>
        </li>
        <li>
            <a href="biography.html">Biografie</a>
        </li>

        <li>
            <a href="pictures.html">Bilder</a>
        </li>
    </ul>
</nav>

<div class="middle">
    <figure>
        <img class="middle" src="../media/pictures/sd1.jpg" alt="Snoop Dogg">
        <figcaption class="middle"> I'm in it to win it and No Limit is my home (for life for life) - Snoop Dogg</figcaption>
    </figure>
</div>

<main class="middle">
    <table class="content">
        <tr>
            <td>Name</td><td>Snoop Dogg</td>
        </tr>
        <tr><td>Bürgerlicher Name</td><td>Calvin Cordazer Broadus Jr.</td></tr>
        <tr><td>Beruf</td><td>Schauspieler, Rapper</td></tr>
        <tr><td>Geburtstag</td><td>20.10.1971</td></tr>
        <tr><td>Sternzeichen</td><td>Waage</td></tr>
        <tr><td>Geburtsort</td><td>Long Beach / Kalifornien (USA)</td></tr>
        <tr><td>Staatsangehörigkeit</td><td>Vereinigte Staaten von Amerika</td></tr>
        <tr><td>Größe</td><td>191cm</td></tr>
        <tr><td>Gewicht</td><td>87kg</td></tr>
        <tr><td>Familienstand</td><td>verheiratet</td></tr>
        <tr><td>Geschlecht</td><td>männlich</td></tr>
        <tr><td>Haarfarbe</td><td>schwarz</td></tr>
        <tr><td>Augenfarbe</td><td>braun</td></tr>
        <tr><td>Links</td><td><a href="https://snoopdogg.com/">Website von Snoop Dogg</a><br> <a href="https://www.instagram.com/snoopdogg/">Instagram-Account von Snoop Dogg</a> </td></tr>

    </table>

</main>

<footer>

</footer>

</body>
</html>