body {
    background: #1f1c6d url("https://www.hessenschau.de/kultur/snoop-dogg-100~_t-1644994838545_v-16to9__retina.jpg") no-repeat right;
    background-size: 1440px 800px; /* komplettes Bild ohne Verzerrung, aber mit Rand */
    animation: gradient 10s ease;
    color: yellow;
}

@keyframes gradient {
    0% {
        background-position: 0 50% ;
    }

    100% {
        background-position: 100% 50%;
    }
}






