<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Biografie von Snoop Dogg</title>
    </head>
    <body>

    <header>
        <fieldset>
            <legend><h1>Biografie</h1></legend>
            <blockquote cite="https://web.de/magazine/unterhaltung/thema/snoop-dogg">

            <p>Der US-amerikanische Rapper Snoop Dogg kam als Calvin Cordozar Broadus Jr. am 20. Oktober 1971 im sozial schwachen Teil von Long Beach, Kalifornien (USA), zur Welt. Die Familie lebte in armen Verhältnissen. Seine Mutter gab ihrem Sohn den Spitznamen "Snoop", abgeleitet von "Snoopy". Den Hund aus den Comics "Die Peanuts" soll der spätere Gangsterrapper als Kind geliebt haben.</p>
            <p>Als Teenager schloss sich Snoop Dogg einer der großen amerikanischen Gangs an, wurde Teil der kriminellen Crisp-Vereinigung und bereits als Jugendlicher wegen Kokain-Handels festgenommen. Später saß er einige Zeit im Gefängnis.</p>
            <p>Zur gleichen Zeit begann Snoop Dogg gemeinsam seinem Cousin Nate Dogg und Dr. Dres Halbbruder Warren G Musik aufzunehmen und rappte zunächst unter dem Namen "213" - der Vorwahl seines Wohnortes Long Beach.</p>
            <p>Mit Anfang 20 nahm ihn der Rapper und Produzent Dr. Dre unter seine Fittiche und ermöglichte ihm den Einstieg ins Musikbusiness. Er nahm Snoop Dogg bei seinem Label "Death Row Records" unter Vertrag.</p>
            <p>Snoop Dogg wirkte an Dres Album "The Chronic" mit, einer der großen Klassikern des G-Funk. 1993 erschien Snoop Doggs erstes Soloalbum "Doggystyle", das sich vier Millionen Mal verkaufte und sich über 71 Wochen auf Platz 1 der US-Charts hielt. Auch seine zwei darauffolgenden Alben landeten in den USA auf Platz 1 - es sollten noch über ein Dutzend weiterer sehr erfolgreicher Alben folgen.</p>
            <p>Seit 2002 arbeitete Snopp Dogg auch als Musikproduzent und trat als Schauspieler unter anderem in "Training Day", "Bones", "Old School" und "Starsky und Hutch" auf. Außerdem gründete er mehrere Unternehmen, betreibt inzwischen eine eigene Kleidermarke und einen Skateboard-Vertrieb.</p>
            <p>Seit 1997 ist Snoop Dogg mit Shante Taylor verheiratet, das Paar hat zwei Söhne und eine Tochter. Mit seiner Familie lebt der Rapper bis heute in Long Beach.</p>
            <p>2009 bekannte sich der Rapper zu der religiös-politischen und umstrittenen afroamerikanischen Organisation "Nation of Islam". Er ist bekennender Kiffer.</p>
            <p>2021 sorgte seine Werbekampagne mit der vorbestraften US-amerikanischen Fernsehköchin Martha Stewart für einen Feuerzeughersteller für Aufsehen.</p>
            <p>Im Januar 2022 präsentierte Snoop Dogg den offiziellen Opener-Song der 17. Staffel "Germany's Next Topmodel" namens "Chai Tea with Heidi" gemeinsam mit Heidi Klum. Am 13. Februar 2022 trat er neben Eminem und Dr. Dre in der legendären Super-Bowl-Halbzeitshow auf.</p>
            </blockquote>
        </fieldset>
    </header>


    <footer>
        <nav>
            <a href="../index.html">Steckbrief</a> <br>
           <a href="steckbrief.html">Steckbrief</a> <br>
            <a href=pictures.html>Bilder</a> <br>
            <a href=music.html>Musik</a> <br>
        </nav>
    </footer>

    </body>
</html>