<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Best of Snoop Dogg</title>
    </head>
    <body>
        <h1>Best Snoop Dogg Songs</h1>
        <iframe width="920" height="480" src="https://www.youtube.com/embed/Y_WxELxb4qI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="920" height="480" src="https://www.youtube.com/embed/4eLRb5uZpe0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <video width="920" height="480" src="../media/video/snoop_song_1.mp4"controls loop poster="../media/pictures/nuthin_thumbnail.jpg"></video> 
        <video width="920" height="480" src="../media/video/snoop_song_2.mp4"controls loop poster="../media/pictures/nextepisode_thumbnail.jpg"></video> 


        <footer>
            <nav>
                <a href="index.html">Startseite</a> <br>
                <a href=biography.html>Biografie</a> <br>
                <a href=pictures.html>Bilder</a> <br>
            </nav>
        </footer>

    </body>
</html>