<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Snoop Steckbrief</title>

    </head>
    <body>

        <h1>Steckbrief</h1>

        <figure>
            <img src="../media/pictures/sd1.jpg" alt="Snoop Dogg">
            <figcaption> I'm in it to win it and No Limit is my home (for life for life) - Snoop Dogg</figcaption>
        </figure>


        <br><br>

        <main>
            <h3>Snoop Dogg - Steckbrief</h3>
            <table>
                <tr><td>Name</td><td>Snoop Dogg</td></tr>
                <tr><td>Bürgerlicher Name</td><td>Calvin Cordazer Broadus Jr.</td></tr>
                <tr><td>Beruf</td><td>Schauspieler, Rapper</td></tr>
                <tr><td>Geburtstag</td><td>20.10.1971</td></tr>
                <tr><td>Sternzeichen</td><td>Waage</td></tr>
                <tr><td>Geburtsort</td><td>Long Beach / Kalifornien (USA)</td></tr>
                <tr><td>Staatsangehörigkeit</td><td>Vereinigte Staaten von Amerika</td></tr>
                <tr><td>Größe</td><td>191cm</td></tr>
                <tr><td>Gewicht</td><td>87kg</td></tr>
                <tr><td>Familienstand</td><td>verheiratet</td></tr>
                <tr><td>Geschlecht</td><td>männlich</td></tr>
                <tr><td>Haarfarbe</td><td>schwarz</td></tr>
                <tr><td>Augenfarbe</td><td>braun</td></tr>
                <tr><td>Links</td><td><a href="https://snoopdogg.com/">Website von Snoop Dogg</a><br> <a href="https://www.instagram.com/snoopdogg/">Instagram-Account von Snoop Dogg</a> </td></tr>
            </table>


        </main>

        <br><br>
    <footer>
        <nav>
            <a href="../index.html">Startseite</a> <br>
            <a href=biography.html>Biografie</a> <br>
            <a href=pictures.html>Bilder</a> <br>
            <a href=music.html>Musik</a> <br>
        </nav>
    </footer>

    </body>
</html>