h1 {
    font-size: 2em;
    color: lightgray;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkslateblue;
}

a:link {
    color: lightgray;
}

a:visited {
    color: grey;
}
a:active {
    color: black;
}


.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
    color: lightgray;
    font-size: 1em;
}

nav ul {
    list-style: none;
}

nav ul li a {
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 10px;
}

nav {
    position: sticky;
    background-color: darkslateblue;
    top: 0;
    font-weight: 600;
}


