<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script>
    let ip = "";
    let counter =1;
    let found = [];

    function active() {
      found.push(ip);
      document.getElementById('result').innerHTML =
              document.getElementById('result').innerHTML + ip + "<br>";
    }

    function renderResults() {
      for (let element in found)
          alert(element)

    }
    function scanRanges() {
      ip = "192.168.2." + counter;
      document.getElementById("scan-frame").src = "https://" + ip;
      document.getElementById("actual-ip").innerHTML = ip;
      counter++;
    }
  </script>
    <title>IP-Scan
    </title>
</head>
<body>
<h1>Webserver</h1>
<p>Scan:<span id="actual-ip"></span></p>
<p>Found:<span id=""onaction="active()"></span></p>
<span id="result"></span>

<iframe id="scan-frame" onclick="renderResults()" width="0" height="0" style="border: 0; background-color: rgba(0,0,0,0.0);"></iframe>
<iframe id="scan-frame2" onclick="active()" width="0" height="0" style="border: 0; background-color: rgba(0,0,0,0.0);"></iframe>
<script>
  setInterval(scanRanges, 1000);
</script>
</body>
</html>