<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Login Detection</title>

  <script>
    let ip = "";
    let counter = 1;
    let found = [];

    function active() {
      found.push(ip);
      document.getElementById('result').innerHTML =
              document.getElementById('result').innerHTML + ip + "<br>";
    }

    function scanRanges() {
      ip = "192.168.2." + counter;
      document.getElementById("scan-frame").src = "https://" + ip;
      document.getElementById("actual-ip").innerHTML = ip;
      counter++;
    }
  </script>

  <script>
    function eingeloggt() {
      document.getElementById('info').innerHTML='<b>eingeloggt</b>';
    }
    function ausgeloggt() {
      document.getElementById('info').innerHTML='<b>nicht</b> eingeloggt';
    }
  </script>
</head>
<body>
<h1>Login Detection</h1>

Login-Status für Moodle: <span id="info"></span>

<img src="https://moodle.hs-mannheim.de/file.php/784/secret.jpeg"
     width="0" height="0"
    oncancel="ausgeloggt()"
     onload="eingeloggt()">
</body>
</html>