h1, h2 {
    margin: 15px 15px;
    font-weight: bold;
}

input {
    margin-bottom: 5px;
}

td {
    width: 10%;
}

.input-new-movie {
    margin: auto 5px;
    text-align: center;
}

button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .2s;
}

#sort_button, #direction_button, #delete_button {
    margin: auto;
    background-color: black;
}

#sort_button {
    color: dodgerblue;
    border: solid dodgerblue 1px;
}

#direction_button {
    color: #64b439;
    border: solid #64b439 1px;
}

#delete_button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid red;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 10px #333;
    overflow: hidden;
    transition: .3s;
}

#add_movie_button, #reset_session_button {
    margin-top: 10px;
    width: 11em;
}

svg {
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}
